<!DOCTYPE html>
<html>
<head>
  <title>API Documentation</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    body { margin: 0; padding: 0; }
  </style>
</head>
<body>
  <div id="redoc-container"></div>
  <script src="<%= openapi_redoc_js_url %>"></script>
  <script>
    Redoc.init('<%= schema_path %>', {}, document.getElementById('redoc-container'));
  </script>
</body>
</html>
